@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kite+One&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500&family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    color: #222222;
    height: 100%;
}

h1 span{ color: #64b330; }

nav{ margin: 30px 0; }

nav ul{
    display: flex;
    justify-content: center;
}

ul> li{ list-style: none; }

button{ 
    transition: .5s;
    cursor: pointer; 
}

ul>button{
    margin: 0 15px 0 15px;
    font-size: 20px;
    color: #252525;
    background: none;
    border: none;
}

ul>button:hover{
    color: #64b330;
    cursor: pointer;
}

.container{
    position: absolute;
    bottom: 10px;
    left: 10px;
    z-index: 1;
}

.container button{
    position: absolute;
    top: 10px;
    right: 25px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

.box-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #F0F0F0;
    border: solid 3px #505050;
    border-radius: 8px;
}

.box-content h1{
    font-size: 20px;
    margin: 0 0 10px 0;
}

.box-content p{ font-size: 18px; }

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Rubik', sans-serif;
}

.logo h1{ font-size: 45px; }

.logo p{
    margin: 7px 0 10px 0;
    font-size: 20px;
}

.logo .buttons{ margin: 25px 0 0 0;}

.logo .buttons a{
    padding: 12px 12px;
    margin: 0 15px 0 15px;
    text-decoration: none;
    color: #252525;
    font-size: 17px;
    border: solid 1px #64b330;
    border-radius: 12px;
    transition: .5s;
}

.logo .buttons a:hover{
    background-color: #64b330;
    color: #ebebeb;
}

.components ul li{
    margin: 10px 0 10px 0;
}

.components ul li a{
    font-size: 30px;
    transition: .5s;
}

.components .media li a:hover{
    cursor: pointer;
    color: #64b330;
}

.components .media{
    margin: 0 0 0 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.content-reglog{
    position: absolute;
    padding: 20px;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
    background-color: #ebebeb;
    border: solid 1px #000;
    border-radius: 10px;
    z-index: 9999;
}